/******************************************************************
Stylesheet: Main Stylesheet
******************************************************************/
body {
  background: url(../imgs/MiSeleccionMx_BG_EstadioAzteca.jpg) no-repeat center top;
  background-color: #f1f1f1;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
/* FONTS */
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../css/ProximaNova-Regular.eot");
}
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../css/ProximaNova-Regular.ttf");
}
@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../css/RobotoSlab-Regular.eot");
}
@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../css/RobotoSlab-Regular.ttf");
}
/* FONTS */
header h2 {
  margin: 0;
}
.container {
  background-image: url(../imgs/MiSeleccionMx_Transparency.png);
}
#contenido #news {
  padding-top: 10px;
  padding-bottom: 10px;
}
h1#logo {
  text-align: center;
}
h1#logo img {
  width: 30%;
  height: auto;
}
.logos {
  clear: both;
}
.logos ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.logos ul li {
  display: block;
  float: left;
}
.logos ul li a {
  display: block;
  padding: 0 10px;
}
.search {
  background-color: #444444;
  color: #ffffff;
  padding: 5px;
}
.acceso {
  margin: 35px 0 0 0;
  text-align: right;
}
.navegador {
  clear: both;
}
.navegador hr.style-six {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#calendario {
  background-color: #dfc182;
  height: 80px;
  margin: 10px 0 10px 0;
}
#banner-1 {
  margin: 10px -15px;
}
article.highL {
  background: #eeeeee;
  margin: 10px 0;
}
article.highL header {
  background: #008240;
  color: #eeeeee;
}
article.highL header h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}
article.highL section {
  padding: 10px;
}
article.highL section p {
  color: #444444;
  font-size: 12px;
  font-family: ProximaNova-Regular;
}
article.highL section a {
  color: #bd9e67;
  text-decoration: none;
}
article.highL footer {
  padding: 10px;
}
article.newsHome {
  background: #fbfbfb;
  border: 1px solid #eeeeee;
  margin: 10px 0;
}
article.newsHome header {
  position: relative;
}
article.newsHome header img.img-responsive-2 {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
article.newsHome header h2 {
  position: relative;
  z-index: 100;
  display: block;
  color: gold;
  background: #fbfbfb;
  padding: 0 20px;
  margin: -20px 20px 0;
}
article.newsHome section {
  padding: 10px 30px;
}
article.newsHome footer {
  padding: 10px 30px;
}
.lista-news {
  border: 1px solid #eeeeee;
  overflow: hidden;
}
.lista-news ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.lista-news ul li {
  float: left;
  display: block;
  border-bottom: 1px solid #eeeeee;
  margin: 5px 0;
}
#busqueda-title hr {
  border-top: 3px solid #7fc09f;
}
#busqueda h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: bold;
}
article.search {
  border-top: 5px solid #7fc09f;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  margin: 15px 0;
  padding: 0px;
}
article.search header {
  padding: 0;
  color: #eeeeee;
}
article.search header h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}
article.search section {
  background-color: #FFF;
  padding: 10px;
  margin: 10px solid red;
}
article.search section p {
  color: #444444;
  font-size: 14px;
}
article.search section a {
  color: #bd9e67;
  text-decoration: none;
}
article.search footer {
  padding: 10px;
}
#sidebar {
  border-top: 5px solid #7fc09f;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  box-shadow: 2px 2px 3px #CCC;
  padding: 5px;
  margin: 15px 0 0 0;
}
#sidebar .banner {
  margin: 0 0 5px 0;
}
#sidebar a {
  color: #bd9e67;
}
.soc-comp {
  background: red;
  width: 100%;
  padding: 20px;
}
.soc-comp a {
  color: #eeeeee;
}
.footer {
  background: #222222;
  color: #DDD;
  padding: 65px 0;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 481px) {
  h1#logo {
    text-align: left;
  }
  h1#logo img {
    width: auto;
    height: auto;
  }
}
@media only screen and (min-width: 768px) {
  
}
@media only screen and (min-width: 992px) {
  
}
@media only screen and (min-width: 1200px) {
  
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  
}
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  
}
