

body {
	background: url(../imgs/MiSeleccionMx_BG_EstadioAzteca.jpg) no-repeat center top; 
	background-color: #f1f1f1;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

/* FONTS */
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../css/ProximaNova-Regular.eot");
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../css/ProximaNova-Regular.ttf");
}

@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../css/RobotoSlab-Regular.eot");
}

@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../css/RobotoSlab-Regular.ttf");
}
/* FONTS */

header {
	h2 {
		margin: 0;
	}
}

.container {
	background-image: url(../imgs/MiSeleccionMx_Transparency.png);
 	}

#banner {
}

#contenido {
 #news {
 	padding-top: 10px;
 	padding-bottom: 10px;
 }
}

h1#logo {
	text-align: center;
	img {
		width: 30%;
		height: auto;
	}
}

.logos {
	clear: both;

	ul { list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: block;
			float: left;
			a {
				display: block;
				padding: 0 10px;

				img {}
			}
		}
	}
}

.search {
	background-color: @brand-text-grey;
	color: @brand-text-white;
	padding: 5px;
	}

.acceso {
	margin: 35px 0 0 0;
	text-align: right;
}

.navegador {
	clear: both;

	hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}

}

#calendario {
	background-color: #dfc182;
	height: 80px;
	margin: 10px 0 10px 0;
}

#banner-1 {
	margin: 10px -15px;
}

#highlights {

}

article.highL {
	background: @gray-lighter;
	margin: 10px 0;
	header {
		background: @brand-green;
		color: @gray-lighter;
		h2 {
			font-size: 18px;
			font-weight: bold;
			text-align: left;
			padding: 10px;
		}
	}

	section {
		padding: 10px;
		
		p {
			color: @brand-text-grey;
			font-size: 12px;
			font-family: ProximaNova-Regular;
		}

		a {
			color: @brand-darkgold;
			text-decoration: none;
		}
	}

	footer {
		padding: 10px;	
	}
}

article.newsHome {
	background: lighten(@gray-lighter, 5%);
	border: 1px solid @gray-lighter;
	margin: 10px 0;

	header {
		position: relative;
		img.img-responsive-2 {
			width: 100%;
			height: auto;
			display: block;
			position: relative;
		}

		h2 {
			position: relative;
			z-index: 100;
			display: block;
			color: gold;
			background: lighten(@gray-lighter, 5%);
			padding: 0 20px;
			margin: -20px 20px 0;
		}

	}

	section {
		padding: 10px 30px;
	}
	footer {
		padding: 10px 30px;
	}
}

.lista-news {
	border: 1px solid @gray-lighter;
	overflow: hidden;
	 ul {
	 	margin: 0;
	 	padding: 0;
	 	list-style: none;
	 	li {
	 		float: left;
	 		display: block;
	 		border-bottom: 1px solid @gray-lighter;
	 			margin: 5px 0;
	 		article.newsHomeList {

				header { }
				footer { }
			}
	 	}
	 }
}

#busqueda-title {
	hr {
		border-top: 3px solid #7fc09f;
	}
}

#busqueda {

	h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: bold;
	}
}

#noticias {

	h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: bold;
	}
}

#noticias-title {
	hr {
		border-top: 3px solid #7fc09f;
	}
}

.news_destacada {
	border-top: 5px solid #7fc09f;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	margin: 15px 0;
	padding: 0px;
	header {
		padding: 0;
		color: @gray-lighter;
		h2 {
			font-size: 18px;
			font-weight: bold;
			text-align: left;
			padding: 10px;
		}
	}
}

article.news {
	border: 1px solid #CCC;
	margin: 15px 0;
	padding: 0px;
	header {
		padding: 0;
		color: @gray-lighter;
		h2 {
			font-size: 18px;
			font-weight: bold;
			text-align: left;
			padding: 10px;
		}
	}

	section {
		background-color: #FFF;
		padding: 10px;
		margin: 10px solid red;
		
		p {
			color: @brand-text-grey;
			font-size: 14px;
		}

		a {
			color: @brand-darkgold;
			text-decoration: none;
		}
	}

	footer {
		padding: 10px;	
	}
}



article.search {
	border-top: 5px solid #7fc09f;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	margin: 15px 0;
	padding: 0px;
	header {
		padding: 0;
		color: @gray-lighter;
		h2 {
			font-size: 18px;
			font-weight: bold;
			text-align: left;
			padding: 10px;
		}
	}

	section {
		background-color: #FFF;
		padding: 10px;
		margin: 10px solid red;
		
		p {
			color: @brand-text-grey;
			font-size: 14px;
		}

		a {
			color: @brand-darkgold;
			text-decoration: none;
		}
	}

	footer {
		padding: 10px;	
	}
}


#sidebar {
	border-top: 5px solid #7fc09f;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	box-shadow: 2px 2px 3px #CCC;
	padding: 5px;
	margin: 15px 0 0 0;

	.banner {
		margin: 0 0 5px 0;
	}

	.news {
		
	}

	a {
		color: @brand-darkgold
	}
}


.soc-comp {
	background: red;
	width: 100%;
	padding: 20px;
	a {
		color: @gray-lighter;
	}
}


#soc-fb {

}
#soc-tw  {

}

.footer {
	background: @gray-darker;
	color: #DDD;
	padding: 65px 0;

	ul {

		li {
		}
		
	}

	
}

.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }